/*Homepage*/
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

#container {
    min-height: 100%;
    min-width: 100%;
    background-color: #212121;
}

#d1 {
    height: 80px;
    padding: 16px;
    padding-left: 40px;
    border-bottom: 3px solid #BB86fc;
    background-color: black;
    color: #BB86fc;
}

#d2 {
    padding: 16px;
    padding-bottom: 28px;
    height: 300px;
}

#d3 {
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 115px;
    padding: 16px;
    padding-left: 40px;
    text-align: center;
    border-top: 3px solid #BB86fc;
    background-color: black;
    color: #BB86fc;
}

#d2_1 {
    display: inline-block;
}

#d2_2 {
    width: 60%;
    margin-left: 44px;
    display: inline-block;
    vertical-align: top;
    color: #BB86fc;
}

.main_button {
    min-width: 200px;
    min-height: 40px;
    padding: 16px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: #3700b3;
    border: solid #a22821 1px;
    color: #03dac6;
}

.main_button:hover {
    background-color: #03dac6;
    color: #3700b3;
    border: none;
}

.Footer_button {
    min-width: 70px;
    min-height: 20px;
    background-color: #3700b3;
    border: solid #a22821 1px;
    color: #03dac6;
}

.Footer_button:hover {
    background-color: #03dac6;
    color: #3700b3;
    border: none;
}

/*Aboutpage*/
#about {
    color: #4d1d24;
}