* {
	font-family: 'Open Sans', sans-serif;	
}
body {
	margin: 0 !important;
    padding: 0 !important;
}
#container {
	min-height: 100%;
	min-width: 100%;
}
#d1 {
	height: 90px;
	padding: 16px;
	padding-left: 40px;
	border-bottom: 3px solid black;
}
#d2 {
	padding: 16px;
	padding-bottom: 28px;
}
#d3 {
	width: 100%;
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 90px;
	padding: 16px;
	padding-left: 40px;
	text-align: center;
	border-top: 3px solid black;
}
table {
	width: 100%;
	padding: 16px;
}
tr {
	height: 40px;
	width: 80px;
	padding: 8px;
}
tr:first-child {
	font-weight: bold;
}