* {
	font-family: 'Open Sans', sans-serif;	
}
body {
	margin: 0 !important;
    padding: 0 !important;
}
h1 {
	color: White;
}
h2 {
	color: White;
}
#container {
	min-height: 100%;
}
#d1 {
	height: 90px;
	padding: 16px;
	padding-left: 40px;
	border-bottom: 8px solid DarkSlateGrey;
	background: DimGrey;
}
#d2 {
	padding: 16px;
	padding-bottom: 28px;
	min-height: 70vh;
}
#d3 {
	bottom: 0px;
	right: 0px;
	height: 90px;
	padding: 16px;
	text-align: center;
	border-top: 8px solid DimGrey;
	background: DarkSlateGrey;
}